# Obsidian and workspace specific files
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/graph.json

# Cache files
.obsidian/cache
.obsidian/trash/node_modules/
.obsidian/workspace-mobile.json
.obsidian/plugins/*/main.js
.obsidian/plugins/*/*.wasm
*.pdf
*.zip
*.csv
